<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enfotrix.cgs">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPortal">
        <activity android:name="com.enfotrix.cgs.Activities.ActivityFee"></activity>
        <activity android:name="com.enfotrix.cgs.Activities.ActivityOnBoardingScreen" />
        <activity
            android:name="com.enfotrix.cgs.Activities.EarlierFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityPUSuccessFully"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityResult"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.Activity_DateSheet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityTimeTable"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.Activity_custom_image"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.Activity_full_image_container"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityFeedback"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityProgressReport"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityAnnouncement"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityForgetPasswordAuth"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivityLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.enfotrix.cgs.Activities.ActivitySplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.enfotrix.cgs.Activities.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>