<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enfotrix.studentportal">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPortal">
        <activity
            android:name=".Activities.EarlierFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityPUSuccessFully"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_DateSheet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityTimeTable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_custom_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_full_image_container"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityFeedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityProgressReport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityAnnouncement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityForgetPasswordAuth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityLogin"
            android:screenOrientation="portrait" >



        </activity>
        <activity
            android:name=".Activities.ActivitySplash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">



        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>